body{
    background-color: aqua;
}
h1{
    font-size: 60px;
    color: red;
}
p{
    text-decoration: underline;
    text-align: center;
}
h2{
    font-size: 30px;
    color: blue;
}
nav{
    display:flex;
      
}
nav li{
    padding: 50px;
    list-style: none;
    background-color: coral;
}
nav li:hover{
    background-color: blueviolet;
}